--> http://unsworks.unsw.edu.au/fapi/datastream/unsworks:47438/SOURCE02?view=true
- dur
- proto
- service
- state
- spkts
- dpkts
- rate
- sttl
- dttl
- sload
- dload
- sinpkt
- dinpkt
- sjit
- djit
- swin
- stcpb
- dtcpb
- tcprtt
- smeansz
- dmeansz
- trans_depth
- response_body_len
- ct_srv_src
- ct_state_ttl
- ct_dst_ltm
- is_ftp_login
- ct_flw_http_mthd
